body {
	background-color: #d1d1d1;
}
td {
	background-color: #fff;
	border: 3px solid #000;
	width: 150px;
	height: 150px;
}

.red {
	background-color: #ff0000;
}

.blue {
	background-color: #0d6efd;
}

.btn,
.btn:hover,
.btn:focus {
	border: 2px solid #000000;
}
